<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Editor</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/easymde/dist/easymde.min.css"
    />
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  </head>
  <body>
    <div>
      URL: <span id="urlLabel"></span
      ><button onclick="handleClick()">Save</button>
    </div>
    <textarea></textarea>
    <script>
      const easyMDE = new EasyMDE();
      //   easyMDE.value(`<>content}`);
      const params = new URLSearchParams(document.location.search);
      const urlLabel = document.getElementById("urlLabel");
      urlLabel.innerText = params.get("url");
    </script>
    <script>
      async function handleClick() {
        if (window.confirm("Overwrite existing content?")) {
          await window.fetch("/create", {
            headers: { "content-type": "application/json" },
            method: "POST",
            body: JSON.stringify({
              url: params.get("url"),
              content: easyMDE.value(),
            }),
          });
        }
      }

      async function updateMDE() {
        const resp = await window.fetch(`/data?url=${urlLabel}`);
        const data = await resp.json();
        easyMDE.value(data.content);
      }
    </script>
    <script onload="updateMDE()"></script>
  </body>
</html>
