@import "tailwindcss" source("../src");
@tailwind base;
@tailwind components;
@tailwind utilities;
@source not "../.content";
@source not "../dist";

@layer base {
  h1 {
    /* @apply text-2xl underline; */
    font-size: var(--text-3xl);
  }
  h2 {
    font-size: var(--text-2xl);
  }
  h3 {
    font-size: var(--text-xl);
  }
  h4 {
    font-size: var(--text-lg);
  }
  h5 {
    font-size: var(--text-md);
  }
  h6 {
    font-size: var(--text-md);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer components {
  a {
    @apply text-sky-600 font-bold underline;
  }
}
